h5
{
  text-align: center;
  
}

h1
{
  text-align: center;
  
}
body{
  background-color: rgb(186, 186, 221);
}

.container {
    width: 500px;
    margin: auto;
    margin-top: 50px;
    padding: 1px;
    background-color: rgb(228, 235, 235);
    border-radius:10px ;
    font-family: sans-serif;
    }
      
  .bill-total,
  .tip-percentage,
  .tip-percentage-display,
  .tip-amount,
  .total-bill-with-tip {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 15px;
  }
  
  label {
    width: 150px;
    text-align: right;
    margin-right: 10px;
  }
  
  input {
    width: 200px;
  }
  
  input[disabled] {
    background-color: rgb(205, 210, 222);
  }
 
  input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 200px;
    height: 5px;
    background: #000;
    border: none;
    border-radius: 5px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background: #000;
    margin-top: -8px;
}


input[type=range]::-moz-range-track {
  width: 200px;
  height: 5px;
  background:#000;
  border-radius: 5px;
}

input[type="range"]::-moz-range-thumb {
  background-color:black;
  border-radius: 20px;
  padding: 2px;
}

input[type="range"]::-moz-range-progress {
  background-color: rgb(228, 235, 235);
  height: 0;
}


  
  #tip-percentage-input {
    width: 200px;
    background-color: transparent;
  }
  